<div class="content">
    <div class="border">
      <div class="title">
        <h2><span>{{title}}</span></h2>
        <p> Posted by <span>{{user.username}}</span> on <span>{{format_date created_at}}</span></p>
      </div>
      <div class="post-content">
        <p class="post-p">{{post_content}}</p>
      </div>
    </div>
  </div>