<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Fullstack blog</title>

</head>
<body>

 <nav>
    <div class="nav-items">
      <a href="/" class="nav-link">Home</a>
      {{#if loggedIn}}
      <a href="#" class="nav-link ml">Dashboard</a>
      <button type="button" class="nav-btn ml" id='logout'>Logout</button>
      {{else}}
      <a href="/login" class="nav-link ml">Login</a>
      {{/if}}
    </div>
    <div>
      <h1 class="nav-title mb">The Fullstack Blog</h1>
    </div>
  </nav>

  <main>
    {{{body}}}
  </main>

</body>
</html>