<div class="content">
    <div class="border">
      <div class="title">
        <h2>Login</h2>
      </div>
      <form class="loginSignup-form" id="login-form">
        <div class="inputs">
          <label for="username-login" class="mt">Username</label>
          <input type="text" id="username-login">
          <label for="password-login" class="mt">Password</label>
          <input type="text" id="password-login" class="mb">
          <button type="submit" class="submit-btn" id="login-btn">Login</button>
        </div>

      </form>
    </div>
  </div>


  <div class="content">
    <div class="border">
      <div class="title">
        <h2>Signup</h2>
      </div>
      <form class="loginSignup-form" id="signup-form">
        <div class="inputs">
          <label for="username-login" class="mt">Username</label>
          <input type="text" id="username-signup">
          <label for="password-login" class="mt">Password</label>
          <input type="text" id="password-signup" class="mb">
          <button type="submit" class="submit-btn" id="signup-btn">Signup</button>
        </div>

      </form>
    </div>
  </div>

  <script src="/javascript/login.js"></script>